<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Homeautomation</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
                $('a#ikea_lights').bind('click', function() {
                    var data = $(this).data();
                    $.getJSON('/ikea_lights', { state: data.state, value: data.value});
                    return false;
                });
                $('a#relay').bind('click', function() {
                    var data = $(this).data();
                    $.getJSON('/relay', { state: data.state, light_source: data.dest});
                    return false;
                });
            });
        </script>
    </head>
    <body> 
        <div class="mobile">
            <b>Loftslamper</b><br>
            <form>
                <a href=# id=ikea_lights data-state='On'><button>Tænd</button></a>
                <a href=# id=ikea_lights data-state='Off'><button>Sluk</button></a><br>
            </form>
            <b>Loft dimmer</b><br>
            <form>
                <a href=# id=ikea_lights data-value='25'><button>25</button></a>
                <a href=# id=ikea_lights data-value='50'><button>50</button></a>
                <a href=# id=ikea_lights data-value='75'><button>75</button></a>
                <a href=# id=ikea_lights data-value='100'><button>100</button></a>
            </form>
            <b>Skrivebords lampe</b><br>
            <form>
                <a href=# id=relay data-dest="desk" data-state="On"><button>Tænd</button></a>
                <a href=# id=relay data-dest="desk" data-state="Off"><button>Sluk</button></a><br>
            </form>
            <b>Lys kæde</b><br>
            <form>
                <a href=# id=relay data-dest="chain" data-state="On"><button>Tænd</button></a>
                <a href=# id=relay data-dest="chain" data-state="Off"><button>Sluk</button></a><br>
            </form>
        </div>
    </body>
</html>