<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Homeautomation</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
                $('a#TurnOn').bind('click', function() {
                    $.getJSON('/background_process', { state: 'On'});
                    return false;
                });
            });
            $(function() {
                $('a#TurnOff').bind('click', function() {
                    $.getJSON('/background_process', { state: 'Off'});
                    return false;
                });
            });
            $(function() {
                $('a#25').bind('click', function() {
                    $.getJSON('/dimm', { value: 25});
                    return false;
                });
            });
            $(function() {
                $('a#50').bind('click', function() {
                    $.getJSON('/dimm', { value: 50});
                    return false;
                });
            });
            $(function() {
                $('a#75').bind('click', function() {
                    $.getJSON('/dimm', { value: 75});
                    return false;
                });
            });
            $(function() {
                $('a#100').bind('click', function() {
                    $.getJSON('/dimm', { value: 100});
                    return false;
                });
            });
            $(function() {
                $('a#TurnOnChain').bind('click', function() {
                    $.getJSON('/relay', { state: 'On', light_source: 'chain'});
                    return false;
                });
            });
            $(function() {
                $('a#TurnOffChain').bind('click', function() {
                    $.getJSON('/relay', { state: 'Off', light_source: 'chain'});
                    return false;
                });
            });
            $(function() {
                $('a#TurnOnLamp').bind('click', function() {
                    $.getJSON('/relay', { state: 'On', light_source: 'desk'});
                    return false;
                });
            });
            $(function() {
                $('a#TurnOffLamp').bind('click', function() {
                    $.getJSON('/relay', { state: 'Off', light_source: 'desk'});
                    return false;
                });
            });
        </script>
    </head>
    <body> 
        {% if request.MOBILE %}
            <div class="mobile">
                <p><b>Loftslamper</b></p>
                <form>
                    <a href=# id=TurnOn><button>Tænd</button></a>
                    <a href=# id=TurnOff><button>Sluk</button></a>
                </form>
                <p><b>Loft dimmer</b></p>
                <form>
                    <a href=# id=25><button>25</button></a>
                    <a href=# id=50><button>50</button></a>
                    <a href=# id=75><button>75</button></a>
                    <a href=# id=100><button>100</button></a>
                </form>
                <p><b>Skrivebords lampe</b></p>
                <form>
                    <a href=# id=TurnOnLamp><button>Tænd</button></a>
                    <a href=# id=TurnOffLamp><button>Sluk</button></a>
                </form>
                <p><b>Lys kæde</b></p>
                <form>
                    <a href=# id=TurnOnChain><button>Tænd</button></a>
                    <a href=# id=TurnOffChain><button>Sluk</button></a>
                </form>
            </div>
        {% else %}
            <div class="pc">
                <p><b>Loftslamper</b></p>
                <form>
                    <a href=# id=TurnOn><button class="pc_button">Tænd</button></a>
                    <a href=# id=TurnOff><button>Sluk</button></a><br>
                </form>
                <p><b>Loft dimmer</b></p>
                <form>
                    <a href=# id=25><button>25</button></a>
                    <a href=# id=50><button>50</button></a>
                    <a href=# id=75><button>75</button></a>
                    <a href=# id=100><button>100</button></a><br><br>
                    <input type="text" name="DimmerValue" placeholder={{ dimm_value }}>
                    <input type ="submit" value = "Dimm" name="Dimm"/>
                </form>
                <p><b>Skrivebords lampe</b></p>
                <form>
                    <a href=# id=TurnOnLamp><button>Tænd</button></a>
                    <a href=# id=TurnOffLamp><button>Sluk</button></a><br>
                </form>
                <p><b>Lys kæde</b></p>
                <form>
                    <a href=# id=TurnOnChain><button>Tænd</button></a>
                    <a href=# id=TurnOffChain><button>Sluk</button></a><br>
                </form>
            </div>
        {% endif %}
                
        <div>
            <p id="response"></p>
        </div> 
    </body>
</html>