<!DOCTYPE html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
            $('a#TurnOn').bind('click', function() {
                $.getJSON('/background_process', {
                state: 'On',
                }, function(data) {
                $("#result").text(data.result);
                });
                return false;
            });
            });
            $(function() {
            $('a#TurnOff').bind('click', function() {
                $.getJSON('/background_process', {
                state: 'Off',
                }, function(data) {
                $("#result").text(data.result);
                });
                return false;
            });
            });
        </script>
    </head>

    <body>
        <div class='container'>
        <h3>Light controls</h3>
            <form>
                <a href=# id=TurnOn><button class='btn btn-default'>Turn On</button></a>
                <a href=# id=TurnOff><button class='btn btn-default'>Turn Off</button></a>
            </form>
            </form>
        <p id=result></p>
        </div>
    </body>
</html>

