input[type="text"] {
    width: 18px;
}

.mobile {
  font: 600 1.5rem/1.25 'Montserrat', sans-serif;
  font-size: 35px;
  zoom: 300%;
  text-align: center;
}

.pc{
  font: 600 1.5rem/1.25 'Montserrat', sans-serif;
  padding: 70px 0;
  font-size: 20px;
  overflow:hidden;
  text-align: center;
}

.info {
  float:left;
  width: 75%;
  height: 80vh;
  background-color: #ebebeb;
}

.ceilingLight{
  font: 400 1.5rem/1.25 'Montserrat', sans-serif;
  padding: 70px 0;
  float:left;
  text-align: center;
  width: 40%;
}

.relays{
  font: 400 1.5rem/1.25 'Montserrat', sans-serif;
  padding: 70px 0;
  float:left;
  text-align: center;
  width: 30%;
}

.emptySpace{
  float:left;
  width: 15%;
}

.topRectangleLightBlue {
  text-align: left;
  height: 50px;
  width: 90%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  background-color: #528BB8;
}

.topRectangleBlue {
  height: 50px;
  width: 16.7%;
  background-color: #4A7DA5;
}

.topRectangleBlue p {
  font: 400 1.25rem/1.25 'Montserrat', sans-serif;
  padding: 12px 0;
  text-align:center;
  color: white;
}

.sideRectangleGrey {
  height: 80vh;
  width: 15%;
  margin-left: 5%;
  background-color: #999999;
  float:left;
}

.sideRectangleGrey img {
  width: 100%;
}

.sideRectangleGrey p {
  font: 400 1.25rem/1.25 'Montserrat', sans-serif;
  padding: 38vh 0;
  font-size: 16px;
  text-align:center;
  color: black;
}

.blackLine {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  background-color: black;
}

.menuButton {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #999999;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.menuButton:hover {
  background-color: #5e5e5e;
  color: black;
}

.rpiButton {
  border-radius: 4px;
  height: 25px;
  width: 60px;
  border: none;
  background-color: #528BB8;
  color: white;
  font-size: 16px;
  text-align: center;
}

.rpiButton:hover {
  background-color: #4A7DA5;
}

.rpiButton:active {
  opacity: 0.7;
}

.tinyRpiButton {
  border-radius: 4px;
  width: 40px;
  height: 25px;
  border: none;
  background-color: #528BB8;
  color: white;
  font-size: 16px;
  text-align: center;
}

.tinyRpiButton:hover {
  background-color: #4A7DA5;
}

.tinyRpiButton:active {
  opacity: 0.7;
}